body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingContainer {
    width: 400px;
    display: flexbox;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    background: linear-gradient(135deg, #004074 0%, #a0a0a0a0 100%);
    color: white;
    height: 400px;
    z-index: 1000;
    transition: var(--transition);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    overflow-y: hidden;
}

.loadingContainer-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: fit-content;
}

    .sidebar-header h1 {
        font-size: 1.8rem;
        margin-bottom: 5px;
    }

    .sidebar-header p {
        font-size: 0.9rem;
        opacity: 0.8;
    }

.content {
    height: 100%;
    display: flex;
    vertical-align: middle;
}

.loader {
  width: 30px;
  height: 100px;
  display: block;
  margin: 35px auto 0;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-radius: 0 0 50px 50px;
  position: relative;
  box-shadow: 0 0 #FFF inset;
  background-image: linear-gradient(#FFF 100px, transparent 0);
  background-position: 0 0;
  background-size: 36px 120px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 2px solid #FFF;
  border-radius: 50%;
  width: 36px;
  height: 10px;
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  left: 0;
  bottom: -4px;
  border-radius: 50%;
  position: absolute;
  width: 12px;
  height: 6px;
  animation: animloader1 6s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0 80px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(51, 122, 183, 0), 6px 0 rgba(51, 122, 183, 0), 8px -15px rgba(51, 122, 183, 0), 12px 0 rgba(51, 122, 183, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(51, 122, 183, 0), 8px -10px rgba(51, 122, 183, 0), 10px -30px rgba(51, 122, 183, 0.5), 15px -5px rgba(51, 122, 183, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(51, 122, 183, 0.5), 8px -30px rgba(51, 122, 183, 0.4), 8px -60px rgba(51, 122, 183, 0.5), 12px -15px rgba(51, 122, 183, 0.5);
  }
  60% {
    box-shadow: 4px -60px rgba(51, 122, 183, 0.5), 6px -50px rgba(51, 122, 183, 0.4), 10px -90px rgba(51, 122, 183, 0.5), 15px -25px rgba(51, 122, 183, 0.5);
  }
  80% {
    box-shadow: 2px -80px rgba(51, 122, 183, 0.5), 4px -70px rgba(51, 122, 183, 0.4), 8px -120px rgba(51, 122, 183, 0), 12px -35px rgba(51, 122, 183, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(51, 122, 183, 0), 8px -90px rgba(51, 122, 183, 0), 10px -120px rgba(51, 122, 183, 0), 15px -45px rgba(51, 122, 183, 0);
  }
}